{% extends 'base.html' %}


{% block styles %}
    {{ super() }}
    <link rel='stylesheet' href="{{ url_for('static', filename='/css/cover.css')}}">
{% endblock %}


<!-- Content block -->
{% block content %}

wef
  
    <main role="main" class="inner cover">
      <h1 class="cover-heading">{{name}}.</h1>
      <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
      <p class="lead">
        <div class="flex-nowrap">

        <form>
          <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping">@</span>
          </div>
          <input type="text" class="form-control" name="username" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
          <input type="submit"  value="Submit" class="btn btn-default">
      </form>
      </div>

        <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
      </p>
    </main>
  
    <footer class="mastfoot mt-auto">
      <div class="inner footer_main">
        <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      </div>
    </footer>


{% endblock%}